@inherits CampaignBase
@page "/campaign"
@attribute [StreamRendering]


<PageTitle>Main Campaign</PageTitle>
<h1>Main Campaign</h1>

<p>this page will list out the main campaign worlds and a brief summary. IIRC the main campaign is basically just a retelling of the pacific theatre of WWII, 
    not much relevence to the actual story, ironically enough</p>
