@page "/characters"
@attribute [StreamRendering]


<PageTitle>Important Characters</PageTitle>
<h1>Important Characters</h1>

<p>This page will show lists of characters with portaits for those with a significant role in the story, grouped by faction. </p>
