@page "/events"
@attribute [StreamRendering]

<PageTitle>Events</PageTitle>

<h1>Events</h1>

<p>This page will list out all events in chronological order by release, a short description of the event, and a link to each event's dedicted page'</p>
