@page "/timeline"
@attribute [StreamRendering]


<PageTitle>Timeline</PageTitle>
<h1>Timeline</h1>

<p>This page will show a timeline showing the relative timeframe of different events. These can be both gameplay events e.g. "Swirling Cherry Blossoms", or 
    story events we only hear about through flashbacks or descriptions from other characters e.g. "Siren/Anti-X vs X/Corruption/Leviathan War"</p>



@code {

}
